.dropdown {
  position: relative;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &__icon {
      position: absolute;
      top: 1rem;
      left: 0.5rem;
      color: $bermuda_gray;
    }

    .label-top {
      transform: translateY(0.5rem);
      font-size: 0.625rem;
      left: 1rem;
    }

    label {
      position: absolute;
      pointer-events: none;
      transform: translateY(1rem) scale(0.95);
      transform-origin: top start;
      transition: 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
      color: $bermuda_gray;
      line-height: 1;
      inset-inline-start: 0.75rem;
      font-weight: $font_weight_bold;
      font-size: 1.25rem;
      left: 1.75rem;
    }

    input {
      height: 3rem;
      border: none;
      padding: 0.25rem 0.75rem 0.25rem 2rem;
      background-color: $athens_gray;
      font-size: 1rem;
      font-weight: $font_weight_bold;
      line-height: 1;
      outline: none;
      box-shadow: none;
      transition: 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
  }

  &__menu {
    position: absolute;
    width: 250%;
    max-height: 10rem;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 0.6rem;

    ul {
      background-color: $athens_gray;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0.5rem 0.75rem;
        font-weight: $font_weight_semi_bold;

        &:hover {
          cursor: pointer;
          background-color: $royal_blue;
          color: $athens_gray;
        }
      }
    }
  }
}
