.flight-select-card {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $iron;
    padding: 0.5rem 0.3rem 0.75rem 0.3rem;
  }

  &__price {
    display: flex;
  }

  &__body {
    height: 10rem;
    border-right: 1px solid $iron;
    border-left: 1px solid $iron;

    &__item {
      border-bottom: 1px solid $iron;
      padding: 0.4rem;
    }
  }

  &__button {
    border: none;
    background-color: $crimson;
    width: 100%;
    color: $alabaster;
    font-weight: $font_weight_semi_bold;
    padding: 0.75rem 0 0.75rem 0;
  }
}
