.flight-select {
  display: flex;
  padding: 1rem;
  background-color: $dep_ar_bg;
  gap: 0.5rem;
  &__dropdown {
    width: 9rem;
  }

  &__button__continue {
    background-color: $crimson;
    border: none;
    &:hover {
      background-color: $thunderBird;
      cursor: pointer;
    }
  }

  &__alert {
    margin-top: 2rem;
    padding: 1rem;
    background-color: $iron;
    color: $thunderBird;
    font-weight: $font_weight_semi_bold;
    border-radius: 0.25rem;
  }
}
