.passengers-count {
  position: relative;

  &__button {
    height: 100%;
    background-color: $ebony_clay;
    color: $athens_gray;
    font-weight: $font_weight_semi_bold;
    padding: 0 0.75rem 0 0.75rem;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__span {
    position: absolute;
    color: $athens_gray;
    font-weight: $font_weight_semi_bold;
    top: 0.2rem;
    right: 0.2rem;
  }

  svg {
    font-size: 1rem;
  }

  &__tooltip {
    color: #212121;
    position: absolute;
    width: 15rem;
    max-height: 10rem;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 0.6rem;
    right: -3.75rem;

    &__content {
      background-color: $athens_gray;
      padding: 0.75rem;
      margin: 0;
    }

    &__radio-group {
      display: flex;
      padding: 1.5rem 0;
      input {
        &:hover {
          cursor: pointer;
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;

      span {
        display: inline-block;
        width: 2rem;
        text-align: center;
      }

      &__button {
        border: none;
        height: 2rem;
        width: 2rem;
        background-color: $iron;
        border-radius: 0.25rem;
        &:hover {
          background-color: $silver_sand;
          cursor: pointer;
        }
      }
    }
  }
}
