// Colors
$tarawera: #063048;
$crimson: #e81932;
$alabaster: #f9f9f9;
$white_ice: #eaf9fc;
$athens_gray: #f4f5f8;
$bermuda_gray: #6f81a5;
$royal_blue: #3685e7;
$ebony_clay: #202b3a;

// Others
$dep_ar_bg: rgb(96 105 119 / 60%);
$main_box_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
$main_page_padding: 15px 20px;
$font_weight_bold: 700;
$font_weight_semi_bold: 500;
