.home {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tarawera;
  padding: $main_page_padding;

  &__welcome {
    text-align: center;
    color: $alabaster;
    margin: 40px 0px 20px 0px;
  }

  h2 {
    margin-bottom: 0px;
    font-weight: 200;
  }
  span {
    font-weight: 300;
  }
}
