.home {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tarawera;
  padding: $main_page_padding;

  h2 {
    color: $alabaster;
    margin-bottom: 0px;
    margin-top: 50px;
    font-weight: 200;
  }

  &__desc {
    color: $alabaster;
    font-weight: 300;
  }
}
